@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,700;0,900;1,200;1,300;1,600;1,700;1,900&display=swap');

html, body {
  font-size: 18px;
  margin: -24px 0;
  padding: 32px 0;
  height: 100%;
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
  background-color: #fff;
}

#subtitle {
    font-size: .8rem;
    padding-left: .8rem;
}

#wrapper {
    max-width: 40rem;
    margin: 0 auto;
}

.flexy {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

p {
    line-height: 1.4;
}

.pointer {
    width: 25px;
    height: 11px;
}

a, a:visited {
    color: #3344dd;
    text-decoration: none;
    transition: .2s all ease-in-out;
    padding: .4rem .6rem;
    width: fit-content;
    border-bottom: 2px solid #fff;
    border-right: 2px solid #fff;
}

a:hover, a:active {
    transform:translateY(-.3rem);
    border-bottom: 2px solid #000;
    border-right: 2px solid #000;
}

@media screen and (max-width: 900px) {
    #wrapper {
        margin: 2rem;
    }
}