body {
  background: #7e7;
  font-family: Baskerville, Times, serif;
  margin: 0 auto;
  margin-top: 2em;
  margin-bottom: 4em;
  max-width: 60em;
}

h1 {
  font-family: 'Rosario', sans-serif;
  font-size: 1.4em;
  margin-top: 0px;
}

h2 {
  font-family: 'Rosario', sans-serif;
  font-size: 1.2em;
  margin-top: 0px;
}

ul, ol { margin-top: 0px; font-size: 1.2em; }

li { line-height: 1.6em; }

p {
  font-size: 1.2em;
  line-height: 1.6em;
  margin-top: 0px;
}

p.big:first-letter { font-size: 6em; float: left; }

.post {
  background: #000;
  color: #fff;
  padding: 5px;
}
     
section    {
  background: #fff;
  padding: 2em;
  -webkit-box-shadow: 0 5px 25px rgba(0,0,0, .3);
  -moz-box-shadow:    0 5px 25px rgba(0,0,0, .3);
  min-height: 500px;
}

aside, aside.recently {
  padding: 1em;
  display: block;
  float: right;
  background: #eee;
  -webkit-box-shadow: inset 1px 3px 5px rgba(0,0,0, .6);
  -moz-box-shadow:    inset 1px 3px 5px rgba(0,0,0, .6);
  max-width: 280px;
  margin-bottom: 2em;
  border: 1px solid #cfcfcf;
}

aside.recently { 
  position: relative;
  top: -59em;
}
     
aside h1 {
  font-size: 1.2em;
}

aside h2   {
    font-size: 1em;
    }

aside p    {
    font-size: 1em;
    }

aside li   {
    font-size: .9em;
    }

nav     {
    font-family: 'Rosario', sans-serif;
    padding: 10px 5px 5px 0px;
    background: #eee; 
    margin: 0;
    }

nav a    {
    font-size: 1.2em; 
    text-decoration: none; 
    padding: 10px; padding-bottom: 5px; 
    -webkit-transition: all 0.3s ease-in-out; 
    -moz-transition:    all 0.3s ease-in-out; 
    -o-transition:      all 0.3s ease-in-out; 
    transition:         all 0.3s ease-in-out;
    }
nav a:link    { color: #ccc; text-decoration: none; }
nav a:visited   { color: #ccc; }
nav a:hover   {
    color: #fff;
    background: #000;
    text-decoration: overline;
    }
nav a:active   { color: #fff; }
.current   { background: black; }

footer    { padding: 20px 5px 25px 5px; }
footer a   {
    text-decoration: none;
    }

a:link     { color: #000; text-decoration: none; }
a:visited   { color: #aaa; }
a:hover    { color: #cfcfcf; text-decoration: underline; }
a:active   { color: #000; }

/* Media Queries */

@media screen and (max-width: 800px) {
  body {
    margin: 0 auto;
  }
  nav {
    font-size: .8em;
  }
  section {
    padding: .8em;
  }
  aside, aside.recently {
    float: none;
    position: relative;
    top: 0;
    margin: 0 auto;
    margin-top: 2em;
    margin-bottom: 2em;
    padding-top: 2em;
    max-width: none;
  }
  footer {
    text-align: center;
  }
}
