/*Color palette CC-BY-NC-SA by ajalsevac >>> http://www.colourlovers.com/palette/2138513/Mother_Teresa */

body { font-family: 'Open Sans', Arial, sans-serif; margin: 0 auto; padding: 2em 3em 3em 3em; color: #2B3E71; background: #6380A4; max-width: 960px; }
p { margin: .2em; line-height: 1.8em; margin-top: 1em; }
hr { border: none; border-bottom: 1px dotted #2B3E71; padding: .6em 0; margin: 0; margin-bottom: 1.4em; }
nav select {
  display: none;
  float: right;
}
@media (max-width: 960px) {
  nav .menu     { display: none; }
  nav select { display: inline-block; }
  #aside { font-size: .9em;}
  #aside.heading { font-size: .6em;}
}
.menu { padding: 0; }
.menu ul { display: block; padding: 0em; font-size: .8em; }
.menu ul li { background: none; line-height: 0; padding: 1em .6em; display:inline-block;}
.menu ul li:hover { background: #DC996E; }
.menu ul li.current	{ background: #DC996E; border: solid 1px #A82C2C; }
div.menu { padding-top: 0px; margin-bottom: 6px; }
div.menu ul { padding-top: 10px; margin-top: .5em; }
h1 { font-size: 2.8em; margin: 0; padding: 0; padding-right: 4em; color: #A82C2C; border-bottom: 1px double #2B3E71; line-height: 1.3em; }
h2 { display: inline; color: #A82C2C; font-size: 1.4em; margin: 0; padding: 0; padding-bottom: 5px; }
h3 { display: inline; color: #A82C2C; font-size: 1.2em; margin: 0; padding: 0; }
#tags { float: right; }
a:link { color: #673630; text-decoration: none; font-weight: 700;}
a:hover { background: #DC996E; }
a:visited { color: #673630; text-decoration: none; }
.imgaside { padding: 0px; }
#header { margin-bottom: 1em; padding-bottom: 8px; }
#header p:first-child {padding:0;line-height:1em;}
#content { margin-top: 1em; }
#content p { text-indent: 2em; }
#content p:first-child { background: #eee;}
#wrapper { display: block; background: #ECEDE8; padding: 1em 2em 2em 2em; border: 1px double #2B3E71; box-shadow: 0 10px 10px -6px #333; }
.frame { max-width: 1020px; min-width: 250px; height: 240px; overflow: hidden; display: block;margin: 0 auto; border: solid 1px #A82C2C; box-shadow: 0 10px 10px -6px #777; margin-bottom: 30px; margin-top: 10px; opacity: .8;}
.frame:hover .frame:select {opacity:1; cursor: pointer; box-shadow: 0 8px 4px -6px #777; -moz-transition: all .6s ease-in-out;
  -webkit-transition: all .6s ease-in-out;
  -ms-transition: all .6s ease-in-out;
  -o-transition: all .6s ease-in-out;
  transition: all .6s ease-in-out; }
#tod { float: right; width: 240px; height: 240px; margin: 0 auto; margin-bottom: 20px; border: solid 1px #A82C2C; box-shadow: 0 10px 10px -6px #777; }
#social { padding: 0; float: right; margin: 0; margin-bottom: 15px; }
#social p { margin: 0 auto; margin-top: 15px; padding: 0; }
#social span { font-size: .9em; width: 20px; height: 20px; background: #DC996E; padding: 5px; margin: 0 auto; border: solid 1px #A82C2C;}
#aside {float:right;padding:20px 20px 10px 20px;background:#DC996E;width:30%;font-weight:100;margin:5px 0px 20px 20px;color:#fff; text-shadow:1px 1px 1px #000;font-style:italic;border: solid 1px #A82C2C;box-shadow: 0 10px 10px -6px #777;font-family: Georgia, serif;}
#aside ul {padding-left:20px;line-height:1.2em;}
#aside li {margin:0; margin-top:1em;}
.aside-heading {font-size: 1.1em; text-shadow:none;font-style:normal;font-family:'Open Sans', Arial, sans-serif;}
abbr {border-bottom: dotted 1px}
.view {font-size:.9em; float: right;}
.back {font-size: .9em; background: #DC996E; padding: 5px; border: solid 1px #A82C2C; }
#content p.backp { text-indent: 0em; margin: 0; margin-top: 2.5em; }
#tags { float: right;}