html				{ background: #ddf url(images/saltlakecity1850.gif) no-repeat bottom center fixed; background-size: contain; }
body 				{ font-family: Helvetica, sans-serif; padding: 15px 40px 40px 40px; margin: 0 auto; max-width: 960px; }
h1					{ font-family: Garamond, serif; font-size: 48px; padding: 0; margin: 0px 0px 15px 0px; }
h2					{ font-family: Garamond, serif; font-size: 32px; padding: 0px; margin: 0px; }
h3					{ font-family: Garamond, serif; font-size: 28px; padding: 0; margin: 20px 0 0 0px; }
section				{ padding: 0 30px; margin: 0; opacity: 1; }
article				{ background: #fff; box-shadow: inset 0 1px 5px #777; padding: 30px 0; margin: 0 auto; max-width: 960px; border: 1px solid #777; }
footer				{ color: #fff; text-shadow: 2px 0px #000; font-family: Garamond, serif; font-size: 16px; margin: 0 auto; padding: 20px; text-align: center; }
footer a:link		{ color: #fff; }
footer a:visited	{ color: #ddd; }

/* infobox */
aside				{ background: #fafafa; float: right; margin: 0px 30px 0px 20px ; padding: 22px; width: 300px; border: 1px solid #777; font-size: 12px; display: block; clear: both; }
aside p 			{ line-height: 25px; padding: 0px 0px 10px 0px; margin: 0; font-size: 12px; max-width: 410px; }
aside ul 			{ line-height: 25px; padding: 0px 0px 10px 0px; margin: 0px; margin-left: 20px; font-size: 12px; max-width: 40em; }
aside h1			{ margin: 0px; }
p       			{ line-height: 25px; padding: 10px 30px 10px 0px; margin: 0; font-size: 14px; max-width: 500px; text-align: left; }
section ul			{ background: #fafafa; line-height: 1.8em; padding: 20px 40px; margin: 20px 0px; font-size: 12px; max-width: 440px; border: 1px solid #777; }
nav 	 	  		{ color: #fff; font-size: 16px; padding: 0 0 10px 0; padding-top: 10px; }
nav a:link			{ color: #fff; background: #000; padding: 4px 6px; }
nav a:visited		{ color: #fff; }
a:link  			{ text-decoration: none; cursor: pointer; }
a:hover				{ text-decoration: underline; }
a:visited			{ color: #333; }
#alpha				{ margin: 10px 0px; padding: 0px; max-width: 100%; }
#alpha a:link		{ background: #000; color: #fff; padding: 14px; line-height: 56px; border: 1px solid #777; font-size: 18px; }
#alpha a:hover		{ background: #000; }
#alpha a:visited	{ color: #ddd; }
#alpha .none		{ background: #eee; opacity: 0.3; }

/* Source Icons */

.archive			{ background: url(images/archive.png) no-repeat left; font-size: 12px; }
.archive a:link		{ margin-left: 20px; }

.openlib			{ background: url(images/open-library-icon.gif) no-repeat left; font-size: 12px; }
.openlib a:link		{ margin-left: 20px; }

hr					{ background: #777; border: none; height: 1px; padding: 0px; margin-bottom: 20px; }
.authorName			{ font-style: italic; color: #777; }
aside h1			{ font-size: 26px; margin: 6px 0px 15px 0px; }
.key				{ font-size: 18px; margin: 10px 0px; }
.infolist			{ background: #fafafa; font-size: 12px; margin: 20px 0px; border: 1px solid #777; padding: 10px; max-width: 500px; }
.portraitSmall		{ background: #fafafa; margin: 0 auto; margin-bottom: 30px; padding: 0px; border: 1px solid #777; box-shadow: 0 8px 8px -6px #777; display: block; }
#search				{ float: right; margin-left: 10px; }
.familytree			{ background: #000; color: #fff; padding: 8px; border: 1px solid #777; line-height: 40px; }
#logo				{ display: inline; vertical-align: bottom; }