html {
	padding: 0;
	margin: 0;
  height: 100%;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

body {
  background: url(../images/wild_flowers.png);
  padding: 0;
  margin: 0;
  margin-bottom: 2em;
  font-family: Garamond, serif;
}

h1.coming-soon {
	text-align: center;
}

.flex-container {
  padding: 0;
  margin: 0 auto;
  max-width: 80em;
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -moz-flex-flow: row wrap;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: space-around;
  justify-content: space-around;
}

.flex-item {
  padding: 5px;
  width: 350px;
  height: 150px;
  margin-top: 30px;
  line-height: 150px;
  color: #000;
  font-weight: bold;
  font-size: 3em;
  text-align: center;
  border-radius: 10px;
  border: 1px solid #aaa;
  box-shadow: inset 0 0 22px 4px rgba(0,0,0,0.6);
	transition: .4s box-shadow ease;
}

.flex-item:hover {
	box-shadow: inset 0 0 22px 4px rgba(0,0,0,0.3);
}

.sap {
  background: #eee url(../images/sap-logo.svg) center no-repeat;
  padding: 5px;
  width: 350px;
  height: 150px;
  margin: 0 auto;
  margin-top: 20px;
  border-radius: 10px;
  border: 1px solid #aaa;
  box-shadow: inset 0 0 22px 4px rgba(0,0,0,0.6);
	transition: .4s box-shadow ease;
}

.sap:hover {
	box-shadow: inset 0 0 22px 4px rgba(0,0,0,0.3);
}

.people {
  background: #5EA0D4;
}

.person {
  color: #fff;
  text-shadow: 0 3px 3px rgba(0,0,0,0.6);
  background: url(../images/people/william-jennings-nelson.jpg) center no-repeat;
  background-size: cover;
  height: 350px;
}

.places {
  background: #EB3C29;
}

.events {
  background: #F4C748;
}

.things {
  background: #DCE9BD;
}

a:link { text-decoration: none; }

footer p {
  display: block;
  margin: 4rem 0;
  text-align: center;
}
