body	{
		background: #efc;
		font-family: Helvetica, Arial, san-serif;
		padding: 20px 40px;
		margin: 0;
		}

article	{
		background: #ffa;
		box-shadow: inset 0px 0px 20px #555;
		padding: 50px;
		margin: 0 auto;
		min-width: 50em;
		max-width: 66em;
		}

.aside	{
		background: #efc;
		box-shadow: inset 0px 0px 20px #555;
		-moz-column-count: 1; -webkit-column-count: 1;
		font-family: Palatino, serif;
		font-size: 1.2em;
		float: right;
		padding: 30px;
		margin: 35px;
		width: 14em;
		}

.text	{
		-moz-column-count: 2; -moz-column-gap: 1.5em; -webkit-column-count: 2; -webkit-column-gap: 1.5em;
		min-width: 50em;
		max-width: 66em;
		}

h1, h2, h3, h4, h5, h6	{
		margin-top: .75em;
		margin-bottom: 1em;
		font-family: Palatino;
		}
		
a:link		{color:#000; text-decoration: underline; font-weight: 600;}
a:visited	{color:#555;}
a:hover		{color:#777; text-decoration: none;}
a:active	{color:#000;}

p		{
		color: #333;
		font-size: 1em;
		line-height: 1.3em;
		}
		
p.first:first-letter	{
		font-family: Palatino, serif;
		font-size: 1.5em;
		}
		

.firstLetter{
  display      : block;
  float        : left;
  margin-top   : -0.63em; /* use -0.205em for two lines */
  margin-right : 0.5em;
  height       : 4.5em;
}

.firstLetter span{
  font-size    : 5.6em;   /* use 3.33em for two lines */
  line-height  : 1.0em;
}

.firstLetter + span{
  margin-left  : -0.5em;
}

.headline	{
		text-align: center;
		}